= rails_admin_alert @post
= simple_form_for @post do |f|
  = render 'foundationstone/error', object: @post
  = f.input :image
  = f.association :categories
  #translations.tab-content
    = localization_bar @post
    = f.simple_fields_for :translations do |translation|
      = render 'translation_fields', f: translation
    .links= link_to_add_association t('.translation.add'), f, :translations, class: 'btn btn-default'
  = f.button :submit, t('.submit'), class: 'btn btn-block btn-large btn-info'