%article.post
  = manage_icons post, hide: [:new, :list]
  .row
    - col = post.image? ? 'col-md-7' : 'col-md-12'
    - if post.image?
      .ilustration.col-md-5
        = link_to image_tag(post.image.landscape.thumb, class: 'img-responsive'), post if post.image?
    %div{class: col}
      %header
        .right
          %h2
            %small
              = t '.published', at: time_ago_in_words(post.created_at)
            = editable post, :title, nested: :translations, nid: post.translation.id, e: link_to(post.title, post)
      .content.justify
        = extract post.content, truncate: 190