#content.col-md-8
  %header.page-header.manage-header
    %h1= title t('.title')
    = create_button Blog::Post
  %section.articles
    = render @posts
  = paginate @posts

.sidebar.sidebar-right.col-md-4
  = auto_discovery_link_tag :atom, posts_path(:atom)
  = render_cell 'blog/category', :show, view: :accordion_menu