%section#content.col-md-8
  = manage_icons @post
  - if @post.localized?
    %article
      %header
        %h1= editable @post, :title, nested: :translations, nid: @post.translation.id, placement: :bottom
        .right
          %time.post-date{datetime: @post.created_at}
            = t '.published', at: time_ago_in_words(@post.created_at)
      = image_tag @post.image.original, class: 'ilustration img-responsive' if @post.image?
      .content.justify
        = @post.content.html_safe
      %footer
        #disqus_thread
          = disqus_thread.html_safe
  - else
    = render 'core/shared/tna', object: @post

.sidebar.sidebar-right.col-md-4
  = render_cell 'blog/category', :show, view: :accordion_menu
  = render_cell 'blog/post', :related, post: @post, limit: 5